.header{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #e0374e;
    position: sticky;
    top: 0;
    z-index: 100;
}
.heading{
    text-align: center;
    color: white;
}